/* header and body */
body {
	font-family: Arial, Verdana, Georgia;
}

.heading {
	font-size: 1.6vw;
	margin-bottom: 5%;
	text-align: center;
}

.container {
	margin: 0 1rem 0 1rem;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
}

/* card component */
.card-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.card {
	border: 2px solid #afaeae;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.card-selected {
	background-color: black;
	color: white;
	border: none;
}
.card-cost {
	font-weight: bold;
}

/* payment form */

.payment-section {
	margin-top: 1.5rem;
}

.payment-form {
	display: flex;
	flex: 50% 50%;
	justify-content: center;
	gap: 45px;
	margin-top: 20px;
}

.payment-title {
	margin-top: 0;
	margin-bottom: 14px;
	color: #333;
}

.payment-desc {
	font-size: 0.9rem;
	margin-bottom: 2rem;
	line-height: 1.3rem;
}

.payment-group {
	margin-bottom: 25px;
	position: relative;
}

.payment-label {
	display: block;
	margin-bottom: 8px;
}

.payment-label a {
	color: black;
}
hr {
	border: none;
	border-top: 2px solid lightgray;
}

.payment-input {
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border: 2px solid #dddcdc;
	box-sizing: border-box;
}

.billing-input {
	width: 70%;
}

.billing-heading{
  margin-top: 2rem;
}

.lock-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	color: #c7c5c5;
}

.new-box {
	max-width: 50%;
	position: relative;
}

.payment-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 16px;
	font-size: 1rem;
	border: 2px solid #dddcdc;
	appearance: none;
	background-color: white;
}
.select-arrow i {
	position: absolute;
	top: 68%;
	right: 32%;
	transform: translateY(-50%);
	background-color: #b6b6b6;
	padding: 4px;
	border-radius: 50%;
	color: white;
}

.payment-select:disabled {
	background-color: #ececec9e;
	border: none;
	color: #000000;
	cursor: not-allowed;
	font-size: 1rem;
}

.payment-terms-label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 0.8rem;
	margin-top: 4rem;
}

.payment-checkbox {
	margin-right: 10px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: -0.3rem;
	left: 0;
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid #ccc;
}

.payment-checkbox:checked ~ .checkmark {
	background-color: black;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.payment-checkbox:checked ~ .checkmark:after {
	display: block;
}

.payment-terms-label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.payment-btn {
	padding: 12px 20px;
	width: 45%;
	background-color: black;
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer;
	margin: 1rem 0 4rem 0;
}

.payment-btn:hover {
	background-color: #0056b3;
}

/* order summary */

.order-summary {
	width: 300px;
}

.order-wrap {
	background-color: #f3f3f3;
	padding: 1rem;
}

.order-summary h2 {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
}

.summary-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	margin-top: -0.4rem;
}

.summary-value {
	font-weight: bold;
}
.total-cost {
	margin-top: -0.6rem;
	font-size: 1.2rem;
}

/* Responsive Styling for Mobile View */
@media (max-width: 480px) {
	.card-container {
		flex-direction: column;
		align-items: center;
	}
	.payment-form {
    flex-direction: column-reverse;
		align-items: center;
	}
	.heading {
		font-size: 0.8rem;
	}
  .payment-btn{
    width:100%;

  }
}

/* Responsive Styling for Tablet View */
@media (max-width: 768px) {
  .payment-btn{
    width:75%;
  }
}


